@model WebKillaDeco.Models.SubCategory
@using WebKillaDeco.Helpers

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">@ViewData["Title"]</h1>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">@Alias.Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">SubCategory Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IconUrlFile" class="control-label">Icon File</label>
                    <input type="file" asp-for="IconUrlFile" class="form-control" />
                    <span asp-validation-for="IconUrlFile" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">@Alias.Create</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">@Alias.Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

