@model WebKillaDeco.ViewModels.ProductCategoryViewModel

@foreach (var product in Model.Products)
{
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-1">
        <div class="card single-product-wrapper">
            <div class="product-img">
                <img src="@Url.Content(product.ImageUrl)" alt="@product.Name Image">
                <img class="hover-img" src="@Url.Content(product.ImageUrl1)" alt="">
            </div>
            <div class="product-description card-body">
                <div class="product-meta-data">
                    <div class="line"></div>
                    <p class="product-price">USD @product.CurrentPrice</p>
                    <a href="@Url.Action("Details", "Products", new { id = product.ProductId })">
                        <h6>@product.Name</h6>
                    </a>
                </div>
                <div class="ratings-cart text-right">
                  @Html.Partial("_Rating", product)

                    <div class="cart">
                        <a href="@Url.Action("AddToCart", "Cart", new { id = product.ProductId })" data-toggle="tooltip" data-placement="left" title="Add to Cart">
                            <img src="@Url.Content("~/client/img/core-img/cart.png")" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Paginación -->
<div class="col-12">
    <nav aria-label="navigation">
        <ul class="pagination justify-content-end mt-50">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="javascript:void(0);" onclick="applyFilters(@i)">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
