@model WebKillaDeco.Models.Product

<div class="reviews-container">
    @if (Model.Qualifications.Any())
    {
        @foreach (var review in Model.Qualifications)
        {
            <div class="review-item">
                <div class="review-header d-flex align-items-start justify-content-between">
                    <div class="rating">
                        <span class="star-rating">
                            <!-- Mostrar estrellas según el rating -->
                            @for (int i = 1; i <= 5; i++)
                            {
                                <i class="fa fa-star @(i <= @review.Rating ? "filled" : "")" style="color: @(i <= @review.Rating ? "gold" : "lightgray");" aria-hidden="true"></i>
                            }
                        </span>
                    </div>
                    <div class="date">
                        <p><i class="fa fa-calendar"></i> @review.DateQualification.ToShortDateString()</p>
                    </div>
                </div>
                <div class="review-body">
                    <div class="comment-user-info d-flex justify-content-between">
                        <div class="comment">
                            <small><i class="fa fa-comments"></i> @review.Comment</small>
                        </div>
                        <div class="user-info mt-4">
                            <small style="color: lightgrey"><i class="fa fa-user"></i> @(review.Client != null ? review.Client.Name : "Cliente desconocido")</small>
                            <br />
                            <small><i class="fa fa-envelope"></i> @(review.Client != null ? review.Client.Email : "Email desconocido")</small>
                            <!-- Añade más propiedades del cliente según sea necesario -->
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <p>Aún no hay reseñas</p>
    }
</div>
