@model WebKillaDeco.Models.Product

<div class="reviews-container">
    @foreach (var review in Model.Qualifications)
    {
        <div class="review-item">
            <div class="review-header d-flex align-items-start justify-content-between">
                <div class="rating">
                    <span class="star-rating">
                        <!-- Mostrar estrellas según el rating -->
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="fa fa-star @(i <= @review.Rating ? "filled" : "")" style="color: @(i <= @review.Rating ? "gold" : "lightgray");" aria-hidden="true"></i>
                        }
                    </span>
                </div>
                <div class="date">
                    <p>@review.DateQualification.ToShortDateString()</p>
                </div>
            </div>
            <div class="review-body">
                <div class="comment-user-info d-flex justify-content-between">
                    <div class="comment">
                        <small>@review.Comment</small>
                    </div>
                    <div class="user-info mt-4">
                        <small style="color: lightgrey">@(review.Client != null ? review.Client.Name : "Cliente desconocido")</small>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    }
</div>
