@model WebKillaDeco.Models.Product
@using WebKillaDeco.Helpers
@{
    ViewData["Title"] = "Eliminar Producto";
    Layout = "/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">@Alias.Delete @Alias.Product</h1>
            <h3 class="text-center text-danger">@MessageTemplates.GetDeleteMessage(Alias.Product)</h3>
            <div class="mt-4">
                <h4>Product Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Sku)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Sku)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CurrentPrice)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.CurrentPrice)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Active)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Active)</dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.ImageUrl):
                    </dt>
                    <dd class="col-sm-9">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <img src="@Url.Content(Model.ImageUrl)" class="img-fluid rounded border" alt="@Model.Name Image" style="max-width: 35px; height: auto;">
                        }
                    </dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.AvailableStock)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.AvailableStock)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Weight)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Weight) kg</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Height)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Height) cm</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Width)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Width) cm</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Depth)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Depth) cm</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Color)</dt>
                    <dd class="col-sm-9">
                        <span class="color-box" style="background-color:@Model.Color; display: inline-block; width: 20px; height: 20px; border: 1px solid #000;"></span>
                    </dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PublicationDate)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.PublicationDate)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Discount)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Discount) %</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SubCategories)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.SubCategories.Name)</dd>
                </dl>

                <form asp-action="Delete" method="post" class="text-center">
                    <input type="hidden" asp-for="ProductId" />
                    <button type="submit" class="btn btn-danger">@Alias.Delete</button>
                    <a asp-action="Index" class="btn btn-secondary">@Alias.Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
