@model WebKillaDeco.Models.Product
@using WebKillaDeco.Helpers
@{
    ViewData["Title"] = "Details";
}

<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix me-100" style="margin-right: 200px;">
    <div class="container-fluid">

        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Products")">@Alias.Products</a></li>
                        <li class="breadcrumb-item"><a href="#">@Model.SubCategories.Category.Name</a></li>
                        <li class="breadcrumb-item"><a href="#">@Model.SubCategories.Name</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Product Details -->
        <div class="row">
            <!-- Product Images -->
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url('@Url.Content(Model.ImageUrl)');"></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.ImageUrl1))
                            {
                                <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url('@Url.Content(Model.ImageUrl1)');"></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.ImageUrl2))
                            {
                                <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url('@Url.Content(Model.ImageUrl2)');"></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.ImageUrl3))
                            {
                                <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url('@Url.Content(Model.ImageUrl3)');"></li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="@Url.Content(Model.ImageUrl)">
                                        <img class="d-block w-100" src="@Url.Content(Model.ImageUrl)" alt="First slide" style="max-width: 1920px; max-height: 1080px;">
                                    </a>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.ImageUrl1))
                            {
                                <div class="carousel-item">
                                    <a class="gallery_img" href="@Url.Content(Model.ImageUrl1)">
                                        <img class="d-block w-100" src="@Url.Content(Model.ImageUrl1)" alt="Second slide" style="max-width: 1920px; max-height: 1080px;">
                                    </a>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.ImageUrl2))
                            {
                                <div class="carousel-item">
                                    <a class="gallery_img" href="@Url.Content(Model.ImageUrl2)">
                                        <img class="d-block w-100" src="@Url.Content(Model.ImageUrl2)" alt="Third slide" style="max-width: 1920px; max-height: 1080px;">
                                    </a>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.ImageUrl3))
                            {
                                <div class="carousel-item">
                                    <a class="gallery_img" href="@Url.Content(Model.ImageUrl3)">
                                        <img class="d-block w-100" src="@Url.Content(Model.ImageUrl3)" alt="Fourth slide" style="max-width: 1920px; max-height: 1080px;">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Description -->
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">$@Model.CurrentPrice</p>
                        <h6>@Model.Name</h6>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                        </div>
                        <!-- Availability -->
                        @* <p class="avaibility"><i class="fa fa-circle"></i> @if (Model.AvailableStock > 0) { In Stock } else { Out of Stock }</p> *@
                    </div>

                    <!-- Short Overview -->
                    <div class="short_overview my-5">
                        <p>@Model.Description</p>
                    </div>

                    <!-- Add to Cart Form -->
                    <form class="cart clearfix" method="post" action="@Url.Action("AddToCart", "Cart")">
                        <div class="cart-btn d-flex mb-50">
                            <p>Qty</p>
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) effect.value--;return false;">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="@Model.AvailableStock" name="quantity" value="1">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <button type="submit" name="addtocart" value="@Model.ProductId" class="btn amado-btn">Add to cart</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.carousel-indicators li').on('click', function () {
                var slideTo = $(this).data('slide-to');
                $('#product_details_slider').carousel(slideTo);
            });
        });
    </script>
}
